body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

header {
    background-color: #777;
    color: #fff;
    padding: 1rem;
    /* position: fixed; */
    /* width: 100%; */
    top: 0;
    /* z-index: 1000; */
}

header .title {
    display: inline-block;
}

header h1 {
    margin: 0;
    display: inline;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navLinks {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin: auto;
}

nav ul li {
    margin-right: 0.5rem;
}

nav ul li a {
    color:#fff;
    text-decoration: none;
}

nav .icon {
    display: none;
}

main {
    margin-top: 0px;
}

.upload-section {
    background-color: #777;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    width: 200px;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 25px;
    position: relative;
}

.search-bar::placeholder {
    color: #585757;
}
.ops-button{
    width: 100%;
    margin: 5em;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.ops-button button{
    width:150px;
}

.upload-btn,
.photo-btn,
.prompt-btn {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    /* background-color: #fff; */
    background-color: #4d4c4c;
    color: #fff;
    /* border: 2px solid #000; */
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 
    0 rgb(128, 128, 128), 0 6px 
    20px 0 rgba(0,0,0,0.19);
}
.prompt-btn {
    margin: 5px;
    border-radius: 30px;
}

.upload-btn i,
.photo-btn i {
    margin-left: 0.9rem;
    margin-right:0rem;
    float: right;
}

.prompt-section {
    display: flex;
    align-items: center;
}

.prompt-bar {
    width: 500px;
    padding: 0.5rem;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
}

.action-section {
    background-color: #f5f5f5;
    color: #000;
    text-align: center;
    padding: 2rem;
}

.action-section a {
    display: block;
    margin-bottom: 1rem;
}

.contact-section {
    background-color: #c6c5c5;
    color: #000;
    text-align: left;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
}
.contact-section h2 {
    float: right;
}
.contact-section form {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    width: 400px;
}

#inner-form {
    flex-direction: column;
    width: 100%;
    
}
.inner-form1 {
    width: 100%;
    padding: 0.2em 0;
    
}
#inner-form input {
    width:187px;
    margin: 0.2rem 0;
    background-color: #fff;
    color: #000;
    border: solid #000;
    border-radius: 4px;
}
.inner-form1 input{
    width:97%;
    margin: 0;
    height: 20px;
    border: solid;
    border-radius: 4px;
}
.contact-section textarea {
    width: 374px;
    padding: 0.5rem;
    margin: 0.3rem 0;
    background-color: #fff;
    color: #000;
    border: solid #000;
    border-radius: 4px;
}

.contact-section textarea{
    height:10em;
}
.contact-section button {
    background-color: #8a8888;
    color: #000;
    border: 2px solid #000;
    border-radius: 4px;
    height: 25px;
    width:10em;
    margin-bottom: 1em;
}

footer {
    text-align: center;
    padding: 1rem;
    color: #000;
    background-color: #f5f5f5;;
    /* position: fixed; */
    bottom: 0;
}

@media (max-width: 768px) {
    #navLinks {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    
    nav a.icon {
        display: block;
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .ops-button{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .ops-button button{
        width:35%;
    }
    
    .search-bar{
        width:30%
    }
    .prompt-bar {
        width: 350px;
    }
    .upload-btn,
    .photo-btn {
        width: 40%;
    }
    .contact-section input,
    .contact-section textarea{
        width:100%;
    }
    .upload-section {
        flex-direction: column;
        align-items: center;
    }
}
